.buttonContainer {
    display: flex;
    flex-direction: column;
    width: 20vw;
    align-items: center;
    padding-left: 1em;
}

.name {
    font-size: 3em;
}

.button {
    background-color: orange;
    padding: 0;
    border: none;
}

.progress {
    font-size: 2em;
    white-space: nowrap;
}
